:root {

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

}

body {

  margin: 0%;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

}

.parent{

  display: flex;
  align-items:center;  /* vertically center items */
  justify-content: center;  /*horizontally center items*/
  padding: 20px;
  gap: 20px;

}

.child{

  background-color: crimson;
  padding: 10px;
  border: 20px solid white;
  border-radius: 10px;
  margin: 10px;
  width: 300px;
  text-align: center;  /* horizontally center text */

}

.child img{

  margin-top: 10px;
  height: 100px;
  width: auto;
  border-radius: 50%;  /* Rounded corners for the image*/
  object-fit: cover;  /* Ensures the image covers the area without distortion */

}

.child p{

  color: white;
  margin:20px;

}

.child button{

  color: white;
  background-color: black;
  border:2px solid white;
  border-radius: 5px;
  padding:10px;

}